@import "fonts.css";
@import "contact.css";
@import "resource.css";
@import "platform.css";

/*custom reset css*/
a, *:focus , a:focus{outline:none;}
a img {border: none;text-decoration: none;}  
img {border: none;text-decoration: none;} 
menu, ol, ul {padding: 0 0 0 0px;}
dl, menu, ol, ul {margin: 0 0;}
p{margin: 0;}
   
/*end cutom reset */

/* shortcode */
.fLeft{float: left;}
.fRight{float: right;}
.clearFloat:after{
	content: ' ';
	clear: both;
	display: block;	
}
.pushTop10{margin-top: 10px;}
.pushTop20{margin-top: 20px;}
.pushRight10{margin-right: 10px;}
.pushLeft10{margin-left: 10px;}
.pushBottom10{margin-bottom: 10px;}
.celestial{color: #2cabe1;}
.bgCelestial{background: #2cabe1;}

/* end shortcode */

body{background: #dedede; font-family: 'Geogrotesque-Medium';}

.content{
	width: 980px;
	margin: auto;
}	

/* header */
header.header{
	background: #ffffff;
	min-height: 100px;
}
header .logo{width: 320px; height: 72px; float:left;}
header img {margin: 15px 0 15px 20px;}

header div a{
	text-decoration: none;
	font: 12px/14px 'Geogrotesque-Medium',arial;
	padding: 5px 10px 8px;
	text-transform: uppercase;
}

header div a.chat{
	background: #333333;
	color: #fff;
}
header div a.chat:hover{color:#DEDEDE;}

header div a.free-license{background: #fff200;color: #636363;}
header div a.free-license:hover{color: #969696;}

nav{  float: left;
    margin-top: 30px;
    width: 980px;
} 
nav ul{
	margin-left: 14px;
	height: 25px;
	width: 565px;
	 float: left;
}
nav ul li{ float: left;}

nav ul li a{
    color: #636363;
    font-size: 16px;
    padding: 5px 10px 6px;
    text-decoration: none;
	text-transform: uppercase;
}

nav ul li.current-menu-item a{background: #dedede;}

nav ul li a:focus{background: #dedede;}
nav ul li a:hover{color: #8E8E8E;}

nav form{
	float: right;
    margin: -6px 10px 0 0;
    width: 280px;
}
nav form input{font-family:'Geogrotesque-Medium';color: #333;}

nav form input.input{
	width: 104px;
	height: 16px;
	padding: 2px 0 2px 2px;
	font-size: 12px;
	border: 1px solid #ccc;
}
nav form input[type="submit"]{
	background: #CCCCCC;
    border: 1px solid #999999;
    font-size: 11px;
    height: 22px;   
    width: 42px;
}
/* end header */

/* content */
article.col{background: #fff; padding: 20px; float: left; height: 440px; margin-top: 10px;}
article.col-two-of-three{width: 610px; margin-right: 10px;}
article.col-two-of-three .col-one-of-four {float: left; width: 140px; margin-right: 10px;}
article.col-two-of-three .col-one-of-four p a, article.col-two-of-three .col-one-of-four p{text-decoration: none; color: #333; font: 13px/16px 'Geogrotesque-Regular';}
article.col-two-of-three .col-one-of-four p a:hover{color: #7C7C7C;}
article.col-two-of-three .col-one-of-four p.push-top-30{
	margin-top: 30px;
}
article.col-one-of-three{width: 280px; color: #333;}
article.col-one-of-three h3{	
	font-size:13px;
	line-height: 13px;
	font-family: 'Geogrotesque-Regular';
	margin: 0;
}
article.col-one-of-three a{display: block;height: 45px;margin: 15px 0 6px;width: 177px;}
article.col-one-of-three a:hover{opacity: 0.8;}
.logoSurveySwipe{background: url("../img/logosx3.png") no-repeat;}
.logoSurveyPocket{background: url("../img/logosx3.png") no-repeat 0 -70px;}
.logoSeconPrism{background: url("../img/logosx3.png") no-repeat 0 -136px;}
.logoLifeMetrix{background: url("../img/logosx3.png") no-repeat 0 -192px;}
article.col-one-of-three p{	
	font: 12px/13px 'Geogrotesque-Regular';
}
.first-content{margin-top: 10px;}
.first-content div .box-blue{width: 450px; height: 152px; background: #172852; padding: 20px; color: #fff;}
.first-content div .box-blue.box-one p{font: 20px/34px 'Geogrotesque-Regular';}
.first-content div .box-blue.box-two {background: url("../img/bg-box-blog.jpg") no-repeat #172852;}
.first-content div .box-blue.box-two h3{font: bold 24px/27px 'Geogrotesque-Medium';
margin: 0 0 8px;
}
.first-content div .box-blue.box-two p{font: 14px/16px 'Geogrotesque-Medium';}
.first-content div .box-blue.box-two a{background: url('../img/icon-play.png'); width: 52px; height: 52px; display: block; margin-top: 15px;}
.first-content div .box-blue.box-two a:hover{opacity: 0.8;}

aside.buttons-info-external a.button{width: 260px; padding: 30px; height: 25px;text-align: center; text-decoration: none;font: 23px/26px 'Geogrotesque-Regular'; margin-top: 10px;}
aside.buttons-info-external a.button-free-evalution{background: #fff200; color: #333333;}
aside.buttons-info-external a.button-see-software{background: #2cabe1; margin-left: 10px; margin-right: 10px; color: #fff;}
aside.buttons-info-external a.button-quest-demo{background: #172852; color: #2cabe1;}
aside.buttons-info-external a.button:hover{opacity: 0.7;}

ul.clients li{list-style: none; float: left; width: 320px; height: 320px; margin-top: 10px;}
ul.clients li a{text-decoration:none;}
ul.clients li.push-Left-Right{margin-left:10px; margin-right: 10px;}
ul.clients li p{background: #FFFFFF;color: #666666;display: block;font: 16px/20px 'Geogrotesque-Regular';padding: 20px;}
ul.clients li div.mousehover{
	height: 320px;   
    position: relative;
    width: 320px;
    z-index: 8; 
	margin-top: -320px;
}
ul.clients div.view-bg{background: #52B7E2;height: 260px;	opacity: 0.7;width: 320px;}
ul.clients span.view-testimonial{opacity: 1 !important; color: #FFFFFF;
	font: 50px/52px 'Geogrotesque-Regular'; 
	display: block;
	text-align: center;
    height: 100px;
    margin-top: -190px;
    padding:20px;
    position: relative;    
    width: 280px;
    z-index: 12;
}

.social-external-links a{text-decoration: none;}
.social-external-links a:hover{opacity: 0.8;}
.social-external-links .col-one-half{width: 490px;}
.social-external-links a.recent-post{background: url("../img/bg-blog-yellow.jpg") no-repeat; padding: 20px; height: 150px;
width: 450px; margin-top: 10px; color: #333333; display: block;}
.social-external-links .recent-post h2{font: bold 32px/35px 'Geogrotesque-Medium'; margin: 0 0 7px 0;}
.social-external-links .recent-post p{font: normal 14px/16px 'Geogrotesque-Medium';}
.social-external-links .box-cuadrado{height: 150px; padding: 20px; width: 205px;}
.social-external-links a.case-study-one{display: block;background: url("../img/bg-case-study-1.jpg") no-repeat; color: #fff;}
.social-external-links a.case-study-two{display: block;background: url("../img/bg-case-study-2.jpg") no-repeat; margin-top: 10px; color: #fff;}
.social-external-links .case-study p{font: bold 14px/16px 'Geogrotesque-Medium';}
.social-external-links .case-study h2{font: bold 36px/39px 'Geogrotesque-Medium'; margin: 7px 0 0 0;}
.social-external-links .case-study h3{font: normal 24px/27px 'Geogrotesque-Regular'; margin: 0;}
.social-external-links .news{background: url("../img/bg-news.jpg") no-repeat; color: #fff;}
.social-external-links .news h2{font: bold 24px/26px 'Geogrotesque-Medium'; margin: 0 0 7px 0;}
.social-external-links .twitter{width: 205px; height: 340px; padding: 20px; background: #333333; color: #fff; margin-top: 10px;}
.social-external-links .twitter p{font: 14px/16px 'Geogrotesque-Medium';}
.social-external-links .twitter h2{font: 24px/27px 'Geogrotesque-Medium';}
.social-external-links .twitter a{color: #fff; }
.social-external-links .tips{background: #fff200;}
.social-external-links .tips h2{color: #333333;font: normal 42px/44px 'Geogrotesque-Regular'; margin: 0 0 15px 0;}
.social-external-links .tips a{background: #333333;color: #fff;font: normal 11px/13px 'Geogrotesque-Medium'; margin: 0 0 7px 0; padding: 3px 6px;}
.social-external-links .icon-new{background: url("../img/bg-icon-new.png") no-repeat;   
    color: #FFFFFF;
    font: 14px/15px 'Geogrotesque-Medium';
    height: 48px;
    margin-top: -64px;
    padding-top: 16px;
    position: relative;
    right: 77px;
    text-align: center;
    top: 30px;
    width: 66px;
    width: 66px;
	-webkit-transform: rotate(17deg); 
	-moz-transform: rotate(17deg);	
}
/* end content */

/* footer */
aside.sub-footer{
	background: #2cabe1;
	padding: 20px 25px;
	margin: 10px auto;
	width: 930px;
}
aside.sub-footer p{
	color: #fff;
	font-size: 18px;
	font-family: 'Geogrotesque-Regular';
}
aside.sub-footer input[type="text"]{
	border: none;
	font: 16px/18px 'Geogrotesque-Medium', arial;
	color: #333;
	width: 217px;
	height: 17px;
	padding: 10px 5px;
	margin-left: 7px;
}
aside.sub-footer input[type="submit"]{
	background:#333333;
    border: medium none;
    color: #FFFFFF;
    font: 11px/13px 'Geogrotesque-Regular',arial;
    height: 37px;
    padding: 10px 5px;
    position: relative;
    top: -2px;
    width: 50px;	
}
aside.sub-footer input[type="submit"]:hover{background:#444;}
aside.sub-footer span{margin-left: 87px; margin-right: 8px;}
.icon-social{	
	display: inline-block;
    height: 40px;
	width: 40px;
}
aside.sub-footer .icon-social{	
    position: relative;
    top: 15px;   
}
.icon-social:hover{opacity: 0.8;}
.icon-g{background: url("../img/icon-social.png") no-repeat;}
.icon-tw{background: url("../img/icon-social.png") no-repeat -42px 0;}
.icon-fb{background: url("../img/icon-social.png") no-repeat -84px 0;}

footer.content-footer {
	font-size: 11px;
	font-family: 'Geogrotesque-Regular';
	margin: 20px auto 20px;
}

footer.content-footer ul li {
	list-style: none;
	float:left;
}
footer.content-footer ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	margin: 0 5px 10px;	
}
footer.content-footer ul li a:hover{color: #6D6D6D;}

footer.content-footer ul li:nth-child(2){margin-left: 10px;}
footer.content-footer ul li:nth-child(3){margin-left: 30px;}
/* edn footer */

/* lightbox */
.bg-lightbox{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 1;
	position:fixed;
}

.lightbox {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C3C3C3;
    height: auto;
    left: 50%;
    margin-left: -340px;
    margin-top: -170px;
    position:fixed;
    top: 50%;
    width: 659px;
    z-index: 100;
}

.close-lightbox {
	background: url("../img/icon-close-lightbox.png") no-repeat scroll 0 0 transparent !important;
    display: block !important;
    float: right !important;
    height: 34px !important;
    left: 32px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-top: -36px !important;
    position: relative;
    top: 13px !important;
    width: 36px !important;
}

.container-lightbox-testimonial{padding: 20px;}
.container-lightbox-testimonial .col-title-lightbox{
	width: 280px; 
	margin: 0 20px 20px 20px;
	border-right: 1px solid #ccc;
}
.container-lightbox-testimonial h2{font: bold 20px/23px 'Geogrotesque-Medium'; margin: 0 0 5px 0;}
.container-lightbox-testimonial h3{font: normal 16px/19px 'Geogrotesque-Medium'; margin: 0;}
.container-lightbox-testimonial p{font: normal 18px/21px 'Geogrotesque-Regular';}

.contatiner-view-testimonial{padding: 20px; background: #f2f2f2; border-top: 1px solid #ccc; height: 15px;}
.contatiner-view-testimonial .link-moreTestimon{color: #636363; font: normal 15px/18px 'Geogrotesque-Regular';}
/* end lighbox */

/* sidebar */
.sidebar {width: 170px;background: #eaeaea;min-height: 350px;}
.sidebarContact {height: 796px;}
.sidebarGuides {height: 1695px;}
.sidebarConjoint {height: 704px;}
.sidebarOverview {height: 3005px;}
.sidebarPlatformSurveys {height: 2948px;}

.sidebar h3{
	font: bold 16px/18px 'Geogrotesque-Medium';
	color: #fff;
	margin: 0;
	padding: 10px 10px 10px 15px;
	background: #333333;
}
.sidebar ul{
}
.sidebar ul li{
	list-style: none;
	padding: 5px 15px;
}
.sidebar ul li a{
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	font: normal 14px/16px 'Geogrotesque-Medium';
}
.sidebar ul li a:hover{opacity: 0.8;}

.sidebar ul li.currentSelected{background: url("../img/selected-arrow.png") no-repeat 153px center #9c9c9c;}
.sidebar ul li.currentSelected a{color: #fff;}

.sidebar ul li.currentSubSelected{background: url("../img/selected-arrow.png") no-repeat 153px center #b2b2b2;}
.sidebar ul li.currentSubSelected a{color: #fff; font: normal 13px/15px 'Geogrotesque-Medium';}

/* end sidebar */

/* content */
.bg-headerTitle{padding: 20px;}
.bg-headerTitle h1{
	color: #fff;
	margin: 0 0 20px;
	padding: 0;
	font: 40px/43px 'Geogrotesque-Medium';
}
.bg-headerTitle blockquote{
	color: #FFFFFF;
    font: 18px/21px 'Geogrotesque-Regular';
    margin: 0 0 6px;
    padding: 0;
}
.bg-headerTitle h3{
	color: #FFFFFF;
    font: bold 16px/19px 'Geogrotesque-Medium';
    margin: 0 0 6px;
    padding: 0;
    width: 520px;
}
.bg-headerTitle img.avatar{padding: 4px;	background: #fff;margin-right: 15px;}
.bg-headerTitle img.logoHeaderTitle{	margin: 35px 65px 0 0;}
 
.titleIcon{
	color: #fff;
	padding: 10px 15px 10px 58px;
	font: 28px/32px 'Geogrotesque-Medium';
	display: block;
	margin: 0px;
}
a.buttonDownloadPdf{
	background: url("../img/icon-pdf.png") no-repeat scroll 146px center #172852;
    color: #FFFFFF;
    display: block;
    margin: auto;
    padding: 10px 15px;
    text-decoration: none;
    width: 148px;
	font: normal 18px/21px 'Geogrotesque-Medium';
}
a.buttonDownloadPdf:hover{background: url("../img/icon-pdf.png") no-repeat scroll 146px center #233666;}

.section{background: #fff; width: 800px;}
/* end content */

/* message */
.msg-pop-up{
	width: 660px;
	height: 20px;
	padding: 5px 10px 2px 35px;
	position: absolute;
	-moz-box-shadow: 0px 2px 2px 0px #8C8C8C;
    -webkit-box-shadow: 0px 2px 2px 0px #8C8C8C;
    box-shadow: 0px 2px 2px 0px #8C8C8C;
	color: #fff;
	left: 25%;
}
.msg-pop-up p{
	font: normal 15px/16px 'Geogrotesque-Medium';
	margin: 0;
	padding: 0;
}
.msg-pop-up a.close-pop-up-msg{font: bold 16px/20px 'Geogrotesque-Medium'; padding: 0;}

.msg-send{background: url("../img/icons-msg-send.png") no-repeat 7px center #50b400;}
.msg-error{background: url("../img/icons-msg-error.png") no-repeat 7px center #e30000;}

.close-pop-up-msg{
	color: #fff;
	text-decoration: none;
	float:right;
}
/* end message */