.bg-headerTitleContact {	background: url("../img/bg-headerTitleContact.jpg") no-repeat; height: 137px; width: 760px;}

.formContact{
	width: 510px;
	padding: 20px;
	background: #fff;
	color: #333333;
	height: 570px;
	font: 14px/16px 'Geogrotesque-Regular';
}
.formContact form{width: 410px;margin: 35px 0 35px 25px;}

.formContact form label{
	display: block;
	text-align: right;
	margin-bottom: 15px;
}
.formContact form input[type="text"], .formContact form textarea{
	border: 1px solid #d6d6d6;
	padding: 3px;
	height: 22px;
	width: 265px;
	margin-left: 4px;
	color: #333333;
	font: 14px/16px 'Geogrotesque-Regular';
}
.formContact form input[type="text"]{margin-right: 60px;}
.formContact form textarea{resize: none;height: 110px;width: 325px;}
.formContact form input.captcha{width: 215px;margin-right: 0;color: #747474;}
.formContact form input[type="image"]{	vertical-align: top;margin-right: 10px;}

.contactInfo{
	background: #fff;
	padding: 20px;
	width: 200px;
	height: 570px;
	color: #333; 
	font-family: 'Geogrotesque-Medium'; 
}
.formContact form input[type="submit"]{
	background: #2cabe1;
	color: #fff;
	border: none;
	font: 13px/15px 'Geogrotesque-Medium';
	padding: 7px;
	margin-left: 10px;
}	
.formContact form input[type="submit"]:hover{opacity: 0.8;}

.formContact form .required{color: #e70000;}

.contactInfo h2{
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 22px;
	font-weight: normal;
}

.contactInfo h3{
	margin: 5px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
}
.contactInfo p{font: 14px/22px 'Geogrotesque-Regular';}

.contactInfo .titleFollow{margin: 25px 0 10px;}